html,body
  background #eee
  height 100%
  font-family proxima-nova, Roboto, sans-serif !important
  font-style normal
  font-weight 100
  overflow hidden !important

a[href], a[href]:visited
  color #3fb1f2
  text-decoration underline

app,main
  position absolute
  width 100%
  height 100%
  top 0

.vertical-left
  border-left 1px solid white
  padding-left 1rem
  margin-left 1rem
  &.thin
    padding-left 0.5rem
    margin-left 0.5rem
  &.black
    border-color black

// Optimize kerning of all text rendered
body, input, textarea, select, button
  text-rendering optimizeLegibility
  -webkit-font-smoothing antialiased !important

// overwrites for PrimeVUE
.p-component
  font-family proxima-nova, Roboto, sans-serif !important
.p-accordion
  .p-accordion-header-text
    text-transform capitalize
  .p-accordion-tab
    margin-bottom 1rem !important
  .p-accordion-header:not(.p-disabled).p-highlight .p-accordion-header-link
    background white !important
    color #555 !important
    border-color #c8c8c8 !important
  .p-accordion-content
    background #f0f0f0 !important
.p-card .p-card-title
  color #3a4b63 !important

hr
  border none
  height 1px
  background-image linear-gradient(to right, transparent, black, transparent)
  margin 1rem 0
pre
  max-height 30rem
  overflow-y scroll
  &.code
    background-color #111
    color #999
    border-radius 1rem
    ol
      margin-left 2rem
.code
  font-family 'Anonymous Pro', monospace
  max-height 50rem
  overflow-y scroll
  background-color #111
  color #aaa
  border-radius 1rem
  padding 1rem
  overflow hidden
  .red-bold
    color #bf616a //#f00
    font-weight bold
  .red
    color #bf616a //#a00
  .green-bold
    color #a3be8c //#0f0
    font-weight bold
  .green
    color #a3be8c //#0a0
  .blue-bold
    color #81a1c1 //#58f
    font-weight bold
  .blue
    color #81a1c1 //#36a
  .cyan-bold
    color #8fbcbb //#0ff
    font-weight bold
  .cyan
    color #88c0d0 //#0aa
  .magenta-bold
    color #b48ead //#f0f
    font-weight bold
  .magenta
    color #b48ead //#a0a
  .yellow-bold
    color #ebcb8b //#ff0
    font-weight bold
  .yellow
    color #ebcb8b //#aa0
  .black
    color #3b4252 //#000
  .white
    color #fff //#fff
    font-weight bold
  .gray-bold
    color #e5e9f0 //#ccc
    font-weight bold
  .gray
    color #4c566a //#aaa

body > main // main containing div
  display flex
  min-height 100vh
  flex-direction column
  > main // main content div
    flex 1

.card
  background-color #fff
  border-radius 0.25rem
  box-shadow 0 0.5em 1em -0.125em rgba(10,10,10,0.1), 0 0 0 1px rgba(10,10,10,0.02)
  color #4a4a4a
  max-width 100%
  position relative
.card-header
  &:first-child
    border-top-left-radius 0.25rem
    border-top-right-radius 0.25rem
  background-color transparent
  align-items stretch
  box-shadow 0 0.125em 0.25em rgba(10,10,10,0.1)
  display flex
.card-header-title
  align-items center
  color #363636
  display flex
  flex-grow 1
  font-weight 700
  padding 0.75rem 1rem
.card-content
  &:last-child
    border-bottom-left-radius 0.25rem
    border-bottom-right-radius 0.25rem
  background-color transparent
  padding 1.5rem
