doctype html
html(lang='en')
  head
    title Home Calculator
    base(href='/')
    meta(charset='utf-8')
    meta(name='version',content='0.1.0')
    meta(http-equiv='X-UA-Compatible',content='IE=edge')
    meta(name='viewport',content='width=device-width, initial-scale=1, shrink-to-fit=no')
    meta(name='description',content='home calculator for adventures unlimited')
    link(rel='stylesheet',href='https://unpkg.com/primevue/resources/themes/nova/theme.css')
    link(rel='stylesheet',href='https://unpkg.com/primevue/resources/primevue.min.css')
    link(rel='stylesheet',href='https://unpkg.com/primeicons/primeicons.css')
  body
    app
    script(async,src='https://www.googletagmanager.com/gtag/js?id=UA-49864967-5')
    script.
      window.dataLayer = window.dataLayer || [];
      function gtag(){ dataLayer.push(arguments); }
      gtag('js', new Date());
      gtag('config', 'UA-49864967-5');
    noscript
      | JavaScript is disabled in your browser.
      a(href='http://www.enable-javascript.com/',target='_blank') Here
      | is how to enable it.
    script(type='module',src='index.js')

