html,body
  background #eee

// Optimize kerning of all text rendered
body, input, textarea, select, button
  text-rendering optimizeLegibility
  -webkit-font-smoothing antialiased !important

.code
  font-family 'Share Tech Mono', monospace
  max-height 40rem
  overflow-y scroll
  background-color #2E3440
  color #aaa
  border-radius 1rem
  padding 1rem
  .red-bold
    color #BF616A
    font-weight bold
  .red
    color #BF616A
  .green-bold
    color #A3BE8C
    font-weight bold
  .green
    color #A3BE8C
  .blue-bold
    color #81A1C1
    font-weight bold
  .blue
    color #81A1C1
  .cyan-bold
    color #8FBCBB
    font-weight bold
  .cyan
    color #88C0D0
  .magenta-bold
    color #B48EAD
    font-weight bold
  .magenta
    color #B48EAD
  .yellow-bold
    color #EBCB8B
    font-weight bold
  .yellow
    color #EBCB8B
  .black
    color #616E88
    font-weight bold
  .white
    color #D8DEE9
    font-weight bold
  .gray-bold
    color #ECEFF4
    font-weight bold
  .gray
    color #616E88
  .tab
    margin-left 2rem
