doctype html
html(lang='en')
  head
    title Item Calculator
    base(href='/')
    meta(charset='utf-8')
    meta(name='version',content='0.1.0')
    meta(http-equiv='X-UA-Compatible',content='IE=edge')
    meta(name='viewport',content='width=device-width, initial-scale=1, shrink-to-fit=no')
    meta(name='description',content='item calculator for adventures unlimited')
    link(rel='stylesheet',href='https://cdn.materialdesignicons.com/5.3.45/css/materialdesignicons.min.css')
    link(href='https://fonts.googleapis.com/css?family=Share+Tech+Mono',rel='stylesheet')
  body
    app
    script(async,src='https://www.googletagmanager.com/gtag/js?id=UA-49864967-5')
    script.
      window.dataLayer = window.dataLayer || [];
      function gtag(){ dataLayer.push(arguments); }
      gtag('js', new Date());
      gtag('config', 'UA-49864967-5');
    noscript
      | JavaScript is disabled in your browser.
      a(href='http://www.enable-javascript.com/',target='_blank') Here
      | is how to enable it.
    script(src='index.js')

